<template>
  <div class="GameInfos">
    <TransitionGroup
      name="player-coin"
      appear
    >
      <div
        :key="player"
        class="Coin GameInfos__coin"
        :class="`Coin--${player}`"
      />
    </TransitionGroup>
    <h1 class="GameInfos__name">Player {{ player }}</h1>
  </div>
</template>

<script>
export default {
  name: 'GameInfos',
  props: {
    player: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.GameInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__coin {
    display: inline-block;
    margin-right: 10px;
  }
}

.player-coin {
  &-appear,
  &-enter {
    transform: translateY(-20px);
    opacity: 0;
  }
  &-appear-active,
  &-enter-active {
    transition: 300ms ease 100ms !important;
  }

  &-leave-active {
    position: absolute;
    transition: 150ms ease !important;
  }
  &-leave-to {
    transform: translateY(20px);
    opacity: 0;
  }
}
</style>
