<template>
  <div class="Grid">
    <grid-col
      v-for="(rows, i) in cols"
      :key="i"
      :rows="rows"
      :can-play="canPlay"
      :current-player="currentPlayer"
      @click.prevent="onColClicked(i)"
    />
  </div>
</template>

<script>
import GridCol from '@/components/Grid/GridCol.vue';

export default {
  name: 'Grid',
  components: { GridCol },
  props: {
    cols: {
      type: Array,
      required: true,
    },
    canPlay: {
      type: Boolean,
      required: true,
    },
    currentPlayer: {
      type: Number,
      required: true,
    },
  },
  methods: {
    onColClicked(i) {
      this.$emit('colClicked', i);
    },
  },
};
</script>

<style lang="scss">
  .Grid {
    position: relative;
    display: flex;
    justify-content: center;
    border: 15px solid #007fff;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: radial-gradient(circle, transparent,
        transparent 18px, #007fff 20px, #007fff 23px, #1f90ff 23px, #1f90ff 36px, #007fff)
      center top/60px 60px;
    }
  }
</style>
