<template>
  <a
    href="#"
    class="Grid-col"
    :class="{
      'Grid-col--playable': canPlay && canUse,
      'Grid-col--player1': currentPlayer === 1,
      'Grid-col--player2': currentPlayer === 2,
    }"
    @click.prevent="onClick"
  >
    <grid-cell
      v-for="(cell, i) in rows"
      :key="i"
      :cell="cell"
    />
  </a>
</template>

<script>
import GridCell from '@/components/Grid/GridCell.vue';

export default {
  name: 'GridCol',
  components: { GridCell },
  props: {
    rows: {
      type: Array,
      required: true,
    },
    canPlay: {
      type: Boolean,
      required: true,
    },
    currentPlayer: {
      type: Number,
      required: true,
    },
  },
  computed: {
    canUse() {
      return this.rows.filter(cell => cell === 0).length !== 0;
    },
  },
  methods: {
    onClick(e) {
      this.$emit('click', e);
    },
  },
};
</script>

<style lang="scss">
.Grid-col {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  &--playable {
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      margin: 0 -20px;
      border: solid 20px transparent;
      border-bottom: 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: all 300ms ease-out;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &--player1 {
    &:before {
      border-top-color: var(--color-player-1);
    }
  }
  &--player2 {
    &:before {
      border-top-color: var(--color-player-2);
    }
  }
}
</style>
