<template>
  <div
    class="Grid-cell Coin"
    :class="classObject"
  />
</template>

<script>
export default {
  name: 'GridCell',
  props: {
    cell: {
      type: Number,
      required: true,
    },
  },
  computed: {
    classObject() {
      const classObject = {};

      classObject[`Grid-cell--${this.cell}`] = true;
      classObject[`Coin--${((this.cell - 1) % 2) + 1}`] = true;

      return classObject;
    },
  },
};
</script>

<style lang="scss">
.Grid-cell--0 {
  opacity: 0;
}
.Grid-cell--3,
.Grid-cell--4 {
  box-shadow: inset 0 0 0 17px rgba(#00BA00, .75);
  animation: coinWin 1.5s infinite ease-in-out;
}

@keyframes coinWin {
  0%, 100% {
    box-shadow: inset 0 0 0 17px rgba(#00BA00, .5);
  }
  35% {
    box-shadow: inset 0 0 0 17px rgba(#00BA00, .85);
  }
}
</style>
