<template>
  <div class="Game">
    <h1 class="Game__title">Connect 4 Game</h1>
    <div class="Game__content">
      <grid
        class="Game-grid"
        :cols="cols"
        :can-play="canPlay && theWinner === 0"
        :current-player="currentPlayer"
        @colClicked="onColClicked"
      />
      <div class="Game__sidebar">
        <div v-if="theWinner !== 0">
          <h1>Player {{ theWinner }} WIN !</h1>

          <button
            type="button"
            @click.prevent="onRetry"
          >Replay</button>
        </div>

        <div
          v-else-if="canPlay === false"
          class="Loose"
        >
          <h2>Loose</h2>
          <button
            type="button"
            @click.prevent="onRetry"
          >Retry</button>
        </div>

        <game-infos
          v-else
          :player="currentPlayer"
        />
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import Grid from '@/components/Grid/Grid.vue';
import GameInfos from '@/components/GameInfos/GameInfos.vue';

function getBaseDatas() {
  const COLS = 7;
  const ROWS = 6;


  const cols = [];
  for (let x = 0; x < COLS; x += 1) {
    cols.push([]);

    for (let y = 0; y < ROWS; y += 1) {
      cols[x].push(0);
    }
  }

  return {
    cols,
    currentPlayer: 1,
  };
}


function getWinnerWithDirection(grid, x, y, deltaX, deltaY, number) {
  const basePlayer = grid[x][y];
  let currentNumber = 1;
  let currentX = x;
  let currentY = y;
  let hasFailed = false;
  const lines = [[x, y]];

  while (currentNumber < number && hasFailed === false) {
    currentX += deltaX;
    currentY += deltaY;

    if (
      !grid[currentX]
      || grid[currentX][currentY] !== basePlayer
    ) {
      hasFailed = true;
    } else {
      lines.push([currentX, currentY]);
    }

    currentNumber += 1;
  }

  return hasFailed === false ? lines : [];
}

function getWinnerWithPosition(grid, x, y) {
  const basePlayer = grid[x][y];

  if (basePlayer === 0) {
    return {
      hasWinner: false,
    };
  }

  let lines = getWinnerWithDirection(grid, x, y, 0, 1, 4);
  if (// direction: |
    lines.length !== 0
  ) {
    return {
      hasWinner: true,
      player: basePlayer,
      line: lines,
    };
  }

  lines = getWinnerWithDirection(grid, x, y, 1, 0, 4);
  if (// direction: -
    lines.length !== 0
  ) {
    return {
      hasWinner: true,
      player: basePlayer,
      line: lines,
    };
  }

  lines = getWinnerWithDirection(grid, x, y, 1, 1, 4);
  if (// direction: \
    lines.length !== 0
  ) {
    return {
      hasWinner: true,
      player: basePlayer,
      line: lines,
    };
  }

  lines = getWinnerWithDirection(grid, x, y, 1, -1, 4);
  if (// direction: /
    lines.length !== 0
  ) {
    return {
      hasWinner: true,
      player: basePlayer,
      line: lines,
    };
  }

  return {
    hasWinner: false,
  };
}

export default {
  name: 'Game',
  components: { GameInfos, Grid },
  data() {
    return getBaseDatas();
  },
  computed: {
    theWinner() {
      const winner = this.getTheWinner();


      return winner.hasWinner === true ? winner.player : 0;
    },
    canPlay() {
      let canPlay = false;

      this.cols.forEach((col) => {
        col.forEach((cell) => {
          if (
            canPlay === false
            && cell === 0
          ) {
            canPlay = true;
          }
        });
      });

      return canPlay;
    },
  },
  methods: {
    getTheWinner() {
      let theWinner = {
        hasWinner: false,
      };

      this.cols.forEach((col, x) => {
        col.forEach((cel, y) => {
          if (theWinner.hasWinner === true) {
            return;
          }

          const winner = getWinnerWithPosition(this.cols, x, y);

          if (winner.hasWinner === true) {
            theWinner = winner;
          }
        });
      });

      // set new grid
      if (theWinner.hasWinner === true) {
        theWinner.line.forEach((position) => {
          this.cols[position[0]][position[1]] = 2 + theWinner.player;
        });
      }

      return theWinner;
    },
    onColClicked(colIndex) {
      if (
        this.theWinner !== 0
        || this.canPlay === false
      ) {
        return;
      }
      let newAdded = false;


      Vue.set(this.cols, colIndex, this.cols[colIndex].map((cell) => {
        if (
          newAdded === false
          && cell === 0
        ) {
          newAdded = true;
          return this.currentPlayer;
        }

        return cell;
      }));

      if (newAdded === true) {
        this.currentPlayer = this.currentPlayer === 1 ? 2 : 1;
      }
    },
    onRetry() {
      const baseDatas = getBaseDatas();

      this.currentPlayer = baseDatas.currentPlayer;
      Vue.set(this, 'cols', baseDatas.cols);
    },
  },
};
</script>

<style lang="scss">
:root {
  --color-player-1: #ff010b;
  --color-player-2: #ffd918;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #1f90ff;
  background: radial-gradient(circle at 50% 0%, #FFF, #FFF 50%, #DDD 75%);

  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0 0 50px;
    min-height: 1.5em;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background: #1f90ff;
    text-transform: uppercase;
  }
  &__content {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  &__sidebar {
    margin: 20px;
    width: 300px;
  }
}

.Coin {
  width: 60px;
  height: 60px;
  color: #fff;
  background: radial-gradient(circle, currentcolor 12px, #666 13px,
    currentcolor 14px, currentcolor 21px, #666 22px, transparent 23px, transparent) center/60px;
  pointer-events: none;
  border-radius: 50%;
  transition: opacity 0.2s, transform 0.2s ease-out;
}
.Coin--1 {
  color: var(--color-player-1)
}
.Coin--2 {
  color: var(--color-player-2)
}
</style>
